name: Team Update

on:
  schedule: # UTC at 0200
      - cron: "0 2 * * *"
  repository_dispatch:
    types: [update_all_members_team]
  workflow_dispatch:
  pull_request:
  push:
    tags:
      - "*"
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  MAIN_PYTHON_VERSION: '3.13'

jobs:
  style:
    name: Style Check
    if: ${{ github.event_name == 'pull_request' || github.event_name == 'push' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

      - name: Install pre-commit
        run: pip install pre-commit

      - name: Run pre-commit
        run: pre-commit run --all-files || ( git status --short ; git diff ; exit 1 )

  team_update:
    name: Update the ansys/all-members team
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

      - name: Install project requirements
        run: |
          pip install -r requirements.txt

      - name: Update the team members
        env:
          TOKEN: ${{ secrets.ALL_MEMBERS_UPD_TOKEN }}
        run: |
          python update_team.py
